*.bdd.txt
*.dot
*.bdd.c
a.out
*.pdf
generated/*
!generated/x86.dot
test
encode
.knit
bench
/fuzznet/cmd/fuzznet-server/fuzznet-server
/fuzznet/cmd/fuzznet-client/fuzznet-client
lfi-fuzz*
todo.txt
interesting.txt
*.log
*.log.gz
*.bin
